[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
werkzeug = "*"
flask-login = "*"
flask-dance = {extras = ["sqla"], version = "*"}
pillow = "*"
flask-restful = "*"
flask-jwt = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.9"
